// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width: 767px;

// Fonts

$font-stack: "Roboto Condensed", "Arial", sans-serif;
$font: "Arial", sans-serif;

// Colors

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);
$color-venetian-red:                #ff0000;

$color-primary:                     #07000f;
$color-accent:                      #0067fe;
$color-accent-hover:                #085edB;
$color-secondary:                   rgba(7, 0, 15, 0.7);
$color-tertiary:                    rgba(7, 0, 15, 0.4);
$color-neutral:                     rgba(2, 22, 45, 0.05);
$color-border-primary:              rgba(7, 0, 15, 0.1);
$color-shadow:                      rgba(0, 0, 0, 0.02);

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// General

html {
  //Sticky footer
  height: 100%;
}

body {
  min-width: 320px;
  font-family: $font;
  //Sticky footer
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}

//Sticky footer
.main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}
